# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vim
*swp

# vscode
.vscode

# webstorm
.idea

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build.crx
build.pem
grpc-web-devtools.zip

# C++
*.o
protoc-gen-grpc-web-devtools

# example
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
