
.network-list {
  overflow: hidden;
  background-color:var(--network-bg);
}

.data-grid {
  position: relative;
  line-height: 120%;
  border: none;
  flex: auto;
}

.data-grid table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  height: 100%;
  width: 100%;
}

.data-grid th > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.data-grid th {
  text-align: left;
  background-color: var(--toolbar-bg-color);
  color: var(--toolbar-color);
  border-bottom: var(--divider-border);
  font-weight: normal;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
  height: 18px;
  padding: 1px 4px;
}

.data-grid .data .data-row.odd {
  background-color: var(--network-row-odd);
}

.data-grid .data .data-row:hover {
  background-color: var(--network-row-hover);
}

.data-grid .data .data-row.selected {
  color: var(--selection-fg-color);
  background-color: var(--selection-bg-color);
}

.data-grid .data .data-row.error {
  color:rgb(216, 0, 0);
}

.data-grid .data-row {
  color: var(--toolbar-color);
  cursor: pointer;
  height: 21px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
  padding: 1px 4px;
}

.data-grid .data-row svg {
  vertical-align: middle;
  fill: var(--network-row-icon-fill);
  margin-right: 4px;
  width: 10px;
}

.data-grid .data-container {
  top: 27px;
  bottom: 0;
  overflow-y: overlay;
  transform: translateZ(0);
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.data-grid .data {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-top: 0 none transparent;
  table-layout: fixed;
  height: auto;
}

.header-container {
  height: 27px;
  background-color: var(--toolbar-bg-color);
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
