.network-empty {
  display: flex;
  align-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--network-bg);
}

.network-empty .content {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  margin: auto;
  color: var(--network-color-text);
}
