
.toolbar {
  background-color: var(--toolbar-bg-color);
  border-bottom: var(--divider-border);
  flex: none;
  padding: 0 2px;
  user-select: none;
}

.toolbar-shadow {
  position: relative;
  white-space: nowrap;
  height: 26px;
  overflow: hidden;
  z-index: 12;
  display: flex;
  flex: none;
  align-items: center;
}

.toolbar-item {
  color: var(--toolbar-color);
  position: relative;
  display: flex;
  background-color: transparent;
  flex: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 26px;
  border: none;
  white-space: pre;
}

.toolbar-item.checkbox {
  padding: 0 5px 0 2px;
}

.toolbar-item.checkbox:hover {
  color: var(--toolbar-color-hover);
}

.toolbar-item.text {
  margin: 0 3px;
}

.toolbar-item.text input {
  padding-left: 3px;
  width: 163px;
  height: 18px;
  line-height: 20px;
  display: inline-block;
  color: var(--toolbar-input-text);
  background: var(--toolbar-input-bg);
  overflow-x: visible;
  white-space: nowrap;
  border: none;
}

.toolbar-item.text input:hover {
  box-shadow: var(--focus-ring-inactive-shadow);
}

.toolbar-item.text input:focus {
  box-shadow: var(--focus-ring-active-shadow);
}

:focus {
  outline-width: 0;
}

.toolbar-button {
  white-space: nowrap;
  overflow: hidden;
  min-width: 28px;
  background: transparent;
  border-radius: 0;
}

.toolbar-divider {
  background-color: #ccc;
  width: 1px;
  margin: 5px 4px;
  height: 16px;
}

.toolbar-button svg {
  fill: var(--toolbar-color);
}

.toolbar-button:hover:not(:active) svg {
  fill: var(--toolbar-color-hover);
}

.toolbar-button.open svg {
  fill: var(--accent-color) !important;
}

.toolbar-button.enabled svg {
  fill: var(--enabled-color) !important;
}
